{{>header}}
{{>navbar}}


    <!--main header-->

    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="col-md-6 col-12 main_header_left">
                    <p>Hello World Weather Us</p>
                    <h1>Get The letest App</h1>
                    <a href="/weather">Check Now</a>

                </div>
                <div class="col-md-6 col-12 main_header_left mx-auto">
                  <form class="werherapp">
                    <input type="text" name="cityname" id="cityname">
                    <input type="submit" id="submitbtn">
                  </form>
                </div>

                <div class="datatab">
                  <div id="city_name">Panskura</div>
                  <div id="temp"></div>
                  <div id="country"></div>
                </div>
                   
            </div>
      </div>
    </div>
   

    {{>footer}}


